.margin-top-small {
  margin-top: $small-pad;
}
.margin-top-medium {
  margin-top: $medium-pad;
}
.margin-top-big {
  margin-top: $big-pad
}

.margin-right-small {
  margin-right: $small-pad;
}
.margin-right-medium {
  margin-right: $medium-pad;
}
.margin-right-big {
  margin-right: $big-pad
}

.margin-bottom-small {
  margin-bottom: $small-pad;
}
.margin-bottom-medium {
  margin-bottom: $medium-pad;
}
.margin-bottom-big {
  margin-bottom: $big-pad
}

.margin-left-small {
  margin-left: $small-pad;
}
.margin-left-medium {
  margin-left: $medium-pad;
}
.margin-left-big {
  margin-left: $big-pad
}


.padding-top-small {
  padding-top: $small-pad;
}
.padding-top-medium {
  padding-top: $medium-pad;
}
.padding-top-big {
  padding-top: $big-pad
}

.padding-right-small {
  padding-right: $small-pad;
}
.padding-right-medium {
  padding-right: $medium-pad;
}
.padding-right-big {
  padding-right: $big-pad
}

.padding-bottom-small {
  padding-bottom: $small-pad;
}
.padding-bottom-medium {
  padding-bottom: $medium-pad;
}
.padding-bottom-big {
  padding-bottom: $big-pad
}

.padding-left-small {
  padding-left: $small-pad;
}
.padding-left-medium {
  padding-left: $medium-pad;
}
.padding-left-big {
  padding-left: $big-pad
}

.left {
  float: left;
}

.right {
  float: right;
}

.clr {
  clear: both;
}
