@mixin transform($content){
	-webkit-transform :$content;
	-moz-transform:$content;
	transform:$content;
}

@mixin box-shadow($content){
	-webkit-box-shadow :$content;
	-moz-box-shadow:$content;
	box-shadow:$content;
}

@mixin transition($content){
	-webkit-transition :$content;
	-moz-transition:$content;
	transition:$content;
}

@mixin radius($content){
	-webkit-border-radius :$content;
	-moz-border-radius:$content;
	border-radius:$content;
}